@import url("style.css");

#fragments > .content{
    background-image: url("../media/img/chaudFroid_expended.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hotDiv {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: fixed;
    top: 48%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    pointer-events: none;
    z-index: 999;
}

.coldDiv {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: fixed;
    top: 68%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    pointer-events: none;
    z-index: 999;
}

