@import url("normalize.css");

body{
    overflow: hidden;
    padding: 0;
    margin: 0;
}


html, body, #poc, #poc section{
    width: 100%;
    height: 100%;
}
#poc section{
    margin-bottom: 100px;
}
#poc section div{
    width: 1000px;
    height: 1000px;
}

#poc .liquidEffect-wapper{
}


#poc .zoomdezoom-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#poc .zoomdezoom-wrapper img{
    /* transform-origin: 70% 35%; */
}

#trumpet {
  background-image: url("../media/img/trumpet_expended.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 1000px !important;
    height: 1000px !important;
}

.dg.a {
  margin-right: 165px !important;
}

.sound_test {
  font-family: "JetBrains Mono",monospace;
  color: hsl(0, 76%, 68%);
}



/* Personalisation du curseur */
.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  /*transition: border-width 0.5s ease-in-out;*/
  transition: transform 0.5s ease-in-out;
  transform-origin: center;

  /* transition-duration: 200ms; 
  transition-duration: 75ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;*/
}

.cursor-zone {
  width: 50px; /* Définissez la taille souhaitée du cercle */
  height: 50px; /* Définissez la taille souhaitée du cercle */
  border-radius: 50%; /* Définissez le rayon pour créer un cercle */
  position: fixed; /* Pour positionner le cercle de manière fixe par rapport à la fenêtre */
  top: 75%; /* Placez le cercle au milieu verticalement */
  left: 50%; /* Placez le cercle au milieu horizontalement */
  transform: translate(-50%, -50%); /* Centrez le cercle précisément au milieu */
  background-color: white; /* Fond transparent */
  pointer-events: none; /* Empêche l'élément d'interférer avec les événements de la souris */
  z-index: 999; /* Assurez-vous que la zone du curseur est au-dessus des autres éléments */
}


.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 .5s infinite alternate;
}

/*@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.4);
  }
}*/

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(2.5);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.cursor.clicked {
  border-width: 10px;
}

/*.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid #7A1500;
}*/

/* Shake animation*/
@keyframes shake {
  0% { transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-12px, 4px ); }
  15%, 35%, 55%, 75%, 95% { transform: translate(5px, 7px); }
  20%, 40%, 60%, 80% { transform: translate(7px, -8px); }
  25%, 45%, 65%, 85% { transform: translate(-8px, 5px); }
  100% { transform: translate(0, 0);}
}

.shaking {
  animation: shake 1.5s infinite;
}

#shakingdiv { 
  display: flex;
  justify-content: center;
  align-items: center;
}







/** CSS CACA CHOPÉ SUR INTERNET : ne pas regarder, ça marche, on y touche pas.  */

/* HOME BUTTON */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 27px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 13px;
  padding-right: 13px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 12px;
  position: fixed;
  right: 5px;
  top: 5px;
  font-weight: bold;
  z-index: 99;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


/* NAVBAR */
:root {
    --background: rgb(29, 29, 29);
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: rgb(56, 41, 28);
    --navbar-dark-secondary: rgb(50, 50, 50);
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;
}

html, body {
  margin: 0;
  background: var(--background);
}

#nav-toggle:checked ~ #nav-header {
  width: calc(var(--navbar-width-min) - 16px);
}
#nav-toggle:checked ~ #nav-content, #nav-toggle:checked ~ #nav-footer {
  width: var(--navbar-width-min);
}
#nav-toggle:checked ~ #nav-header #nav-title {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}
#nav-toggle:checked ~ #nav-header label[for=nav-toggle] {
  left: calc(50% - 8px);
  transform: translate(-50%);
}
#nav-toggle:checked ~ #nav-header #nav-toggle-burger {
  background: var(--navbar-light-primary);
}
#nav-toggle:checked ~ #nav-header #nav-toggle-burger:before, #nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
  width: 16px;
  background: var(--navbar-light-primary);
  transform: translate(0, 0) rotate(0deg);
}
#nav-toggle:checked ~ #nav-content .nav-button span {
  opacity: 0;
  transition: opacity 0.1s;
}
#nav-toggle:checked ~ #nav-content .nav-button .fas {
  min-width: calc(100% - 16px);
}
#nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
  margin-left: 0;
  left: 50%;
  transform: translate(-50%);
}
#nav-toggle:checked ~ #nav-footer #nav-footer-titlebox, #nav-toggle:checked ~ #nav-footer label[for=nav-footer-toggle] {
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

#nav-bar {
  position: absolute;
  left: 1vw;
  top: 1vw;
  height: calc(100% - 2vw);
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: var(--navbar-light-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  user-select: none;
}
#nav-bar hr {
  margin: 0;
  position: relative;
  left: 16px;
  width: calc(100% - 32px);
  border: none;
  border-top: solid 1px var(--navbar-dark-secondary);
}
#nav-bar a {
  color: inherit;
  text-decoration: inherit;
}
#nav-bar input[type=checkbox] {
  display: none;
}

#nav-header {
  position: relative;
  width: var(--navbar-width);
  left: 16px;
  width: calc(var(--navbar-width) - 16px);
  min-height: 80px;
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s;
}
#nav-header hr {
  position: absolute;
  bottom: 0;
}

#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

label[for=nav-toggle] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#nav-toggle-burger {
  position: relative;
  width: 16px;
  height: 2px;
  background: var(--navbar-dark-primary);
  border-radius: 99px;
  transition: background 0.2s;
}
#nav-toggle-burger:before, #nav-toggle-burger:after {
  content: "";
  position: absolute;
  top: -6px;
  width: 10px;
  height: 2px;
  background: var(--navbar-light-primary);
  border-radius: 99px;
  transform: translate(2px, 8px) rotate(30deg);
  transition: 0.2s;
}
#nav-toggle-burger:after {
  top: 6px;
  transform: translate(2px, -8px) rotate(-30deg);
}

#nav-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--navbar-width);
  background: var(--navbar-dark-primary);
  box-shadow: 0 0 0 16px var(--navbar-dark-primary);
  direction: rtl;
  overflow-x: hidden;
  transition: width 0.2s;
}
#nav-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#nav-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #D62929;
}

#nav-content-highlight {
  position: absolute;
  left: 16px;
  top: -70px;
  width: calc(100% - 16px);
  height: 54px;
  background: var(--background);
  background-attachment: fixed;
  border-radius: 16px 0 0 16px;
  transition: top 0.2s;
}
#nav-content-highlight:before, #nav-content-highlight:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 16px 16px var(--background);
}
#nav-content-highlight:after {
  top: 100%;
  box-shadow: 16px -16px var(--background);
}

.nav-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: var(--navbar-light-secondary);
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color 0.2s;
}
.nav-button span {
  transition: opacity 1s;
}
.nav-button .fas {
  transition: min-width 0.2s;
}
.nav-button:hover {
  color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(1):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 0 );
}
.nav-button:nth-of-type(2):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 1 );
}
.nav-button:nth-of-type(3):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 2 );
}
.nav-button:nth-of-type(4):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 3 );
}
.nav-button:nth-of-type(5):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 4 );
}
.nav-button:nth-of-type(6):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 5 );
}
.nav-button:nth-of-type(7):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 6 );
}
.nav-button:nth-of-type(8):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 7 );
}
.nav-button:nth-of-type(9):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 8 );
}
.nav-button:nth-of-type(10):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 9 );
}
.nav-button:nth-of-type(11):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 10 );
}
.nav-button:nth-of-type(12):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 11 );
}
.nav-button:nth-of-type(13):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 12 );
}
.nav-button:nth-of-type(14):hover ~ #nav-content-highlight {
  top: calc( 16px + 54px * 13 );
}



#nav-bar .fas {
  min-width: 3rem;
  text-align: center;
}

#nav-footer {
  position: relative;
  width: var(--navbar-width);
  height: 54px;
  background: var(--navbar-dark-secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: width 0.2s, height 0.2s;
}

#nav-footer-heading {
  position: relative;
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
}

#nav-footer-avatar {
  position: relative;
  margin: 11px 0 11px 16px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0);
  transition: 0.2s;
}
#nav-footer-avatar img {
  height: 100%;
}

#nav-footer-titlebox {
  position: relative;
  margin-left: 16px;
  width: 10px;
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
}

#nav-footer-subtitle {
  color: var(--navbar-light-secondary);
  font-size: 0.6rem;
}

#nav-footer-toggle:checked + #nav-footer {
  height: 30%;
  min-height: 54px;
}
#nav-footer-toggle:checked + #nav-footer label[for=nav-footer-toggle] {
  transform: rotate(180deg);
}

label[for=nav-footer-toggle] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}

#nav-footer-content {
  margin: 0 16px 16px 16px;
  border-top: solid 1px var(--navbar-light-secondary);
  padding: 16px 0;
  color: var(--navbar-light-secondary);
  font-size: 0.8rem;
  overflow: auto;
}
#nav-footer-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#nav-footer-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #D62929;
}